h1{
    text-align: center;
    color: darkorange;
    border-style: double;
    border-color: darkorange;
}
h2:first-letter{
    float: left;
    padding: 4px 8px 0 0;
    display: block;
    color: #336699;
    font: 60px/50px , Times, serif;
}